// Solid Colors ---------------
$white: #ffffff;
$black: #000;

// Grey Colors ---------------
$grey:#f7f7f7;

//pragraph color -------------
$p:#777777;

// Footer Text Colors ---------------
$footer-text: #abb7a7;


//primary-color ------------
$primary-color: #5b8c51;


//secondary-color  ----------------
$secondary-color: #31512a;

//common-color  ----------------
$common-color:  #fdd062;

//h-3-common-color
$h3-common-color: #ecb41c;

// basic color
$r-pink: #000;

// Border Colors ---------------
$border:#e4e4e4;
$border-h1:#e2dfd5;

// Heading Colors ---------------
$heading-color: #000;

//home-1 primary color
$h1-primary-color:#f0efeb;

//h-3 primary-color
$h3-primary-color: #9d6b34;


//h-3 gray-bg
$h3-gray-bg-color: #f8f4f0;

//h-2 gray-bg
$h2-gray-bg-color: #fbfaf7;

//h3-deep-bg
$h3-deep-bg-color: #7f5526;

//home-1 text color
$h1-text-color: #777777;
