# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /wordpress/Agronix/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wordpress/Agronix/index.php [L]
</IfModule>

# END WordPress

# START: All in One SEO Sitemap Rewrite Rules
# Do not make edits to these rules!
<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteRule sitemap(|[0-9]+)\.xml$ /index.php [L]
	RewriteRule (default|video)\.xsl /index.php [L]
</IfModule>
# END: All in One SEO Sitemap Rewrite Rules

# Backup Migration START
  <IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteRule .* - [E=noconntimeout:1,E=noabort:1]

  </IfModule>
  <IfModule mod_env>

    SetEnv noabort 1

  </IfModule>
# Backup Migration END
